<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout :: layout}">
<head>
    <title>Modifier un Candidat</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container my-4">
        <div class="row">
            <!-- Add Question -->
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Add Question</h5>
                        <a th:href="@{/question/form}" class="btn btn-primary w-100">Go</a>
                    </div>
                </div>
            </div>

            <!-- View Question -->
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">View Question</h5>
                        <a th:href="@{/questions}" class="btn btn-primary w-100">Go</a>
                    </div>
                </div>
            </div>

            <!-- View Client Response -->
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">View Client Response</h5>
                        <a th:href="@{/response}" class="btn btn-primary w-100">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>